@import "tailwindcss";

:root {
    --color-primary: #9810FAFF;
    --color-bg-primary: #ffffff;
    --color-border-primary: #9810FAFF;
    --color-text-primary: #ffffff;
}

[data-theme="dark"] {
    --color-primary: #9810FAFF;
    --color-bg-primary: #1E1A4DFF;
    --color-border-primary: #9810FAFF;
    --color-text-primary: #ffffff;
}

body {
    margin: 0;
    background-color: var(--color-bg-primary);
    transition: .3s;
    font-family: "Roboto", sans-serif;
}

@theme inline {
    --color-primary: var(--color-primary);
    --color-bg-primary: var(--color-bg-primary);
    --color-text-primary: var(--color-text-primary);
    --color-border-primary: var(--color-border-primary);
}